<web-app>
    <servlet>
        <servlet-name>ChatServlet</servlet-name>
        <servlet-class>ChatServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChatServlet</servlet-name>
        <url-pattern>/ChatToAll/ChatServlet</url-pattern>
    </servlet-mapping>
</web-app>
